@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
:root {
    --font-size: 16px;
    --bg-color: #141414;
    --text-color: #ffffff;
    --seoncdary-color-green: #00dc82;
    --custom-transition: all 0.3s ease-in-out;
    --font-weight: inherit;
}

html {
    font-size: var(--font-size);
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
        /* Scale down for smaller screens */
    }
}

@media (max-width: 425px) {
    html {
        font-size: 12px;
        /* Scale down for smaller screens */
    }
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    position: relative;
    z-index: 0;
    font-weight: var(--font-weight);
}

.light-mode {
    --bg-color: #ffffff;
    --text-color: #141414;
    --seoncdary-color-green: #42B883;
    --font-weight: 500;
}

.hover-underline-animation {
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--seoncdary-color-green);
    transition: transform 0.25s ease-out;
    transform-origin: bottom left;

}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Grid Background */
/* body::before {
    z-index: -1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    content: " ";
    background-image: linear-gradient(lightGray 2px, transparent 2px),
                      linear-gradient(90deg, lightGray 2px, transparent 2px),
                      linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px),
                      linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    animation: gridWipe 1s linear;
    opacity: 0.1;
} */

/* Button Components */
@layer components {
    .btn {
        @apply px-3 py-1 border rounded-lg text-xs flex w-fit;
    }

    .card {
        @apply p-5 rounded-xl border border-[#bfbfbf] shadow-md h-full;
    }

    .project-card {
        @apply rounded-xl shadow-md h-full border border-[#595959];
    }

    .text-secondary {
        @apply text-[#8c8c8c];
        /* gray 7 */
    }
}

/* Keyframes for Animation */
@keyframes gridWipe {
    0% {
        width: 0px;
        height: 0px;
    }

    100% {
        width: 100%;
        height: 100%;
    }
}